
  @import url('https://fonts.googleapis.com/css2?family=Inter:wght@200&display=swap');

body {
    background-color: #F3F5FC;
}

input {   
    height: 48px;
    left: 18%;
    font-size: 16px;
    margin-bottom: 20px;
}

.codificar {
    display: flex;
    flex-direction: column;   
    justify-content: space-between;  
    margin-bottom: 14px; 
    
}


.botoesCorpo {
    display: flex;    
    flex-direction: column;
    align-items: center; 
    margin-bottom: 20px;   
 
}

.botao1 {    
    
    display: flex;   
    padding: 24px; 
    margin-bottom: 10px;
    width: 100%;  
    font-size: 16px;
    color: #ffffff;
    border: 1px solid #c4d8f1;
    background-color: #0A3871;
    border-radius: 20px;
    
}

.botao1:hover {
    background-color: #588bca;
    font-family: 'Courier New', Courier, monospace;
    font-size: 17px;
}

.botao2 {    
    display: flex;    
    padding: 24px;
    width: 100%;
    font-size: 16px;
    background: #D8DFE8;
    border: 1px solid #0A3871;
    border-radius: 24px;
}

.botao2:hover {
    background-color: #e6ebff;
    font-family: 'Courier New', Courier, monospace;
    font-size: 17px;
    color: #3f269b;
}

.texto_resultante { 
    line-height: 150%;    
    background-color: blueviolet;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    border-radius: 32px;
}

h3 {
    font-family: 'Inter';   
}

footer {

    display: flex;
    flex-direction: row;
    align-items: center;

}

.aindaVazio {
    text-align: center;
    font-family:  monospace;
    color: #F3F5FC;
    font-size: 15px;
    margin-top: 10%;
}

img {  
    width: 80%;
    margin-bottom: 10px;
}

.controlaDirection {
    display: flex;
    flex-direction: column;
    justify-content: space-between;   
}

#input-texto {    

    font-size: 20px;
    color: white;
    background: transparent;   
    border: none;
    outline: 0;
    text-align: center;
    resize: none;    
    border-radius: 5px;

}


.btn-copiar {

    border: 2px solid #d182f0;
    border-radius: 10px;
    text-decoration: none;
    color: #7c0160;

    /*Tamanho do botão*/
    width: 150px;
    height: 50px;

    margin-bottom: 15%;
    margin-left: 1%;
    cursor: pointer;
}

.btn-copiar:hover {
   border: 2px solid #588bca;
   transition: 0.5s all;
}

footer {
    font-family: 'Inter'; 
}


